.sidebar {
    display: flex;
    flex: 0.35;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar-headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
    min-width: 10vw;
}

.sidebar-headerRight>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: rgb(190, 81, 190);
    height: 39px;
    padding: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.search-container>.MuiSvgIcon-root {
    color: rgb(190, 81, 190);
    padding: 10px;
}

.search-container>input {
    border: none;
    outline-width: 0;
    margin-left: 10px;
}

.sidebar-chat {
    flex: 1;
    background-color: rgb(190, 81, 190);
    /* overflow: scroll; */
}

.sidebar-chat::-webkit-scrollbar {
    color: pink;
}